/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	line-height: 1.4;
	color: #585858;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h1,
h2,
h3,
a {
  font-family: 'Carter One', cursive;
	color: #3a3a3a;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
/* =================================
  Base Layout Styles
==================================== */

/* ---- Header---- */

.name {
	font-size: 1.5rem;
	padding-bottom: 1rem;
	font-weight: 700;
}

.name a,
.main-nav a {
	text-align: center;
}

.main-header{
  text-align:center;
  background: #fafafa;
  padding: 1rem 0rem;
}

.main-header .primary-title {
    margin: 3rem;
}

.main-nav a {
	font-size: 0.75rem;
	text-transform: uppercase;
	color:#3a3a3a;
}

.main-nav li{
    padding: 0.7rem;
    list-style: none;
    background: white;
    margin: 5px 8px;
    font-weight:700;
}

.main-nav ul{
  margin: 0;
}

.profile-image {
    width: 80%;
}

.profile {
    padding: 2rem 1rem 0rem 1rem;
}

.profile-description {
    margin-top: 1rem;
    color: #00000070;
}



/* ---- Layout Containers ---- */

.portfolio-item {
    width: 90%;
    margin: 1.5rem auto;
}

.portfolio {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.secondary-title {
    margin: 0.5rem 0rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.secondary-description {
    font-size: 0.9rem;
    color: #00000080;
}

.main-footer .contact .primary-title {padding: 2rem 0rem 1rem 0rem;}
.main-footer {
	background: #fafafa;
}
.primary-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
}

.main-footer {
    text-align: center;
}

.contact-items {
    margin: 1rem;
    color: #00000070;
}

.contact-items strong {margin-left: 0.5rem;}

.secondary-footer1 {
    float: left;
    padding: 1rem 0rem;
}

.secondary-footer2 {
    float: right;
    padding: 1rem 0rem;
    text-transform: uppercase;
}
.secondary-footer3{
	float: right;
	display: none;
}

.secondary-footer {
    border-top: #eaeaea 1px solid;
    width: 90%;
    font-weight: 900;
    font-size: 0.8rem;
    margin: 3rem auto 0px auto;
}

.secondary-footer a {color: #3a3a3a;font-size: 0.75rem;}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* ---- Page Elements ---- */

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px){

	/* ---- Float clearfix ---- */
	.main-nav li {
		background: none;
		display:inline-block;
	}
	html{font-size: 2vw;}
	.profile-image{
		float:right;
		width:45%;
		padding-left: 0.8rem;
	}
	.profile-description {
    	margin-top: 0rem;
    	text-align: left;
    	float: left;
    	width: 55%;
    }
    .main-header {
		padding: 1rem 0rem 3rem 0rem;
	}

	.portfolio-item {
		width: 40%;
		margin: 1.5rem 5%;
		float:left;
	}
	.secondary-description {
    	width:80%;
    	margin:0rem auto;
	}
	.secondary-footer2{
		display:none;
	}
	.secondary-footer3{
		display: block;
	}
	.footer-nav a {
		font-size: .85rem;
		text-transform: uppercase;
		color:#3a3a3a;
	}
	.footer-nav li{
		list-style: none;
		background: none;
		margin: 1rem 0rem 1rem 1rem;
		display: inline-block;
	}

	.footer-nav ul{
		margin: 0;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {
	/* ---- Float clearfix ---- */
	html{font-size:2vw;}
  .main-header{
    padding: 1rem 0rem 2rem 0rem;
  }
	.name{
		float:left;
		padding:10px 0rem;
	}
	.main-nav{
		float:right;
	}
	.main-nav li{
		padding-right:0;
	}
	.main-nav-wrapper{
		margin:0 2rem;
	}
	.profile{
		padding:1rem 2rem;
	}
	.portfolio-item{
		width: 30%;
		margin: 1.5rem 1% 0rem 1%;
	}
	.col1{
		margin-left:3%;
	}
	.contact-items{
		max-width: 55%;
		margin-left:auto;
		margin-right:auto;
		margin-top:0.5rem;
		margin-bottom:0rem;
	}
	.contact-items1{
		margin-bottom:2rem
	}
  .secondary-footer a{
    font-size:0.7rem;
  }
}
